.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  flex-direction: column;
  margin-left: 45%;
  margin-right: 45%;
}

.dropdown {
  margin-top: 3em;
  margin-bottom: 3em;
}
